
html {
    height: 100%;
}

body {
    background-color: #fff;
    color: #fff;
    font-family:arial;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222));
    background: -moz-linear-gradient(top,  #666,  #222);
    padding-top: 0px;
}

.container-fullscreen {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.view {
    width: 900px;
    height: 600px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #1971eb; }

#help {
    font-size: 75%;
}

.ui-chatbox-input-box {
    resize: none;
}