[submodule "externals/katajs"]
	path = externals/katajs
	url = http://github.com/sirikata/katajs.git
[submodule "externals/jquery.ui.chatbox"]
	path = externals/jquery.ui.chatbox
	url = http://github.com/dexterpu/jquery.ui.chatbox.git
